@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body { background-color: #000; }
.jumbotron 
{ 
	background-image: linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0.8) ),url('../img/screen.png');
	background-size: cover;
        background-position: 0px -50px;
}

.jumbotron h1  {
color: orange;
text-align: right;
text-transform: uppercase;
font-family: 'Press Start 2P', sans-serif;

}

.rot { transform: rotate(0deg); transition-duration: 1s; }
.unrot { transform: rotate(-90deg); transition-duration: 1s; }
.category-header { background-color: #000; padding: 0px 0px 0px 0px;}
.challenges-row { padding: 0px 0px 0px 20px; margin: 0 20px 0 20px; background-color: #EEE; }
.category-header h3 { margin: 0px;  font-family: 'Press Start 2P', sans-serif; color: orange; font-size: 1.3rem;}
.ribbon {
text-align: center; transform: translate(-45%) rotate(-45deg) ;
width: 100px; background-color: #EEE; color: black; z-index: 10; }
.ribbon:before { content:"clos"; }
.ribbono { text-align: center; transform: translate(-45%) rotate(-45deg) ; width: 100px; background-color: #34eba4; color: black; z-index: 10; }
.ribbono:before { content: "ouvert"; }
.challenges-row button { }


.modal-content { margin:0px;}
.modal-body { padding: 0px;} 
.challenge-pane { padding: 0px 1em 5em 1em; }
.modal-content .nav-item { background-color: var(--theme-color) ; }
.modal-content .nav-link {color: white; }
.modal-content .nav { background-color: var(--theme-color) ; }
.modal-head { background-color: var(--theme-color) ; }

table { background-color: white; }

.overlay { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: black; opacity: 0.75; z-index: 1; }
.kody { background-color: black; z-index: 4; position: fixed; width: 100%; height: 100%; top: 60px; left: 0px; margin: 0px;}

