{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">

    <div class="container">
      <h1>Billets</h1>

    </div>
  </div>


<style>
.kody { background-color: black; z-index: 4; position: fixed; width: 100%; height: 100%; top: 55px; left: 0px; margin: 0px;}
</style>

  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        {# % include "components/errors.html" % #}
      <div id=kod class="kody"
        style="background-color: white"
        x-init="Alpine.store('kode',false)"
        x-show="$store.kode"
	x-on:keydown.escape="$store.kode = false"
        @click.ouside="$store.kode = false"
        x-cloak
  	x-transition > 
	<!--div class=overlay x-on:click="$store.kode = false"></div-->

	<div class="kody"
	id="osinv" 
        x-init="Alpine.store('datakode','Load')"
	x-html="$store.datakode">
		</div>

	</div>
      </div>
	</div>
    </div>

    <div 
      x-data="ChallengeBoard" 
      @load-challenges.window="loadChallenges()" 
      @load-challenge.window="loadChallenge($event.detail)"
    >
      <div
          x-ref="challengeWindow" id="challenge-window" class="modal fade" tabindex="-1" role="dialog" x-data=""
          x-html="$store.challenge.data.view"
      ></div>

      <div x-show="!loaded">
        <div class="min-vh-50 d-flex align-items-center">
          <div class="text-center w-100">
            <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
          </div>
        </div>
      </div>


      <div x-show="loaded">

        <template x-for="(category, idx) in getCategories()" :key="idx">
          <div class="category" x-data="{ chal: true }">

            <div class="category-header " >
 
            <div class='' :class="chal?'rot':'unrot'" style='width: 20px; float:left;'>
		   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                   </svg>   
	</div>
             <h3 x-text="category" @click="chal = !chal" ></h3>
            </div>

            <div class="category-challenges d-flex flex-column" x-show="chal" x-collapse x-collapse.duration.500ms >
              <div class="challenges-row row">
                <template x-for="(c, idx) in getChallenges(category)" :key="c.id">
			<div class="col-sm-6 col-md-4 col-lg-3">

                    <button
                        class="challenge-button btn btn-dark w-100 text-truncate my-3"
                        :class="c.solved_by_me ? 'challenge-solved' : ''"
			:value="c.id" @click="loadChallenge(c.id)" >

                    <div  :class="c.solved_by_me?'ribbon':'ribbono'"></div>
                      <!-- div class="challenge-inner my-3"--> 
                      <div >
			      <p x-text="c.name" :value="c.id" @click="loadChallenge(c.id)"></p>
			<span x-text="c.value"></span>
                      </div>
                    </button>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </template>
       </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/challenges.js") }}
  {{ Assets.js("assets/js/konami.js") }}
<script>
ScoreboardDetail=0;

window.addEventListener('keydown', function(e) {
  if(e.keyCode == 32 && e.target == document.body) {
    e.preventDefault();
  }
});



	console.log("######################");
	console.log("LinuxMUP{ZHJvcF9CaWxsZXRlcmllCg==}");
        console.log("######################");

</script>
{% endblock %}

