{% if title== "index" %}
{#% include "base.html"  %#}
<!DOCTYPE html>
<html>
<head>
  <title>{{ Configs.ctf_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">
    {{ Assets.css("assets/scss/main.scss") }}
    {{ Assets.css("assets/css/superadmin.css") }}
</head> 
  {{ Configs.theme_header }}
  {% include "components/navbar.html" %}
  {#% include "index.html" %#}
    {{ content | safe }}

{% else %}

{% extends "base.html" %}
{% block content %}
  <!-- div class="container" -->
    {{ content | safe }}
  <!-- /div -->
{% endblock %}
{% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
{% endblock %}


{% endif %}
