{% extends "base.html" %}

{% block content %}

<style>
.banner {
color: white;
background-color:  rgba(0, 0, 0, 0.7);
width: 100%;
height: 200px;
padding: 10px;
bottom: 0%;
text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.b {
margin-top: 20px;
	text-align: center;
}
</style>
<div class='jumbotron'>
	<h1>Conditions d'utilisation </h1>
		<span>20 des linux Meetup au Québéc</span>
		</div>
<div id="container" class='bg-white fuild'>
	<div class="row fluid">
		<div class="col-md-8 offset-md-2">

			<ul>
			
				<li> Le concours est ouvert à toute personne âgée de 18 ans ou plus, résidant au Canada ou à l'étranger.</li>
				<li> Les prix locaux ne sont accessibles qu'aux participants résidant au Québec (<b>vous devez cocher la case dans votre <a href=/settings>profile utilisateur</a></b>).</li>
				<li> Les prix internationaux sont accessibles à tous les participants éligibles, quel que soit leur lieu de résidence.</li>

				<li> Il est strictement interdit :</li>
			<ul>
				<li> d'attaquer ou de bloquer la plateforme utilisée pour le concours. Tout joueur qui enfreint cette règle sera immédiatement exclu du concours.</li>
				<li> d'attaquer les autres joueurs ou de perturber leur participation de quelque manière que ce soit. Tout joueur qui enfreint cette règle sera immédiatement exclu du concours.</li>
				<li>de partager des flags avec d'autres joueurs ou de tenter de gagner en équipe. Tout joueur qui enfreint cette règle sera immédiatement exclu du concours.</li>
			</ul>
			<li>Les participants acceptent de respecter toutes les règles et les décisions de l'organisateur concernant le concours, y compris les décisions d'arbitrage, qui seront finales.</li>
			<li>L'organisateur se réserve le droit de modifier les règles à tout moment, sans préavis, si cela est nécessaire pour garantir l'équité et l'intégrité du concours.</li>
			<li> Découvrez, Amusez-vous, Devenez un Super Admin Linux.</li>
		</ul>

	</div>
</div>
<div class="banner">
  Re-joignez les Super-Admin(s) ... <code>#linuxmeetup</code> <code>#quebec</code> <code>#20ans</code><br>
	<div class="b">
		<a class="button" href="/challenges">Accéder aux Billets </a>
	</div>
</div>
	</div>
{% endblock %}


{% block scripts %}
  {{ Assets.js("assets/js/page.js") }}

<script >
	window.addEventListener('load', function() {
CTFd.pages.settings.updateSettings({'fields': [{'field_id': 2, 'value': true}]})
});
</script>

{% endblock %}

