<style>

#vid {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  padding: 0px;
  top: 0px;
  left: 0px;
	z-index: -1;
}


.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.jumbo {
height: 200px;
width: 100%;
}

.banner {
color: white;
background-color:  rgba(0, 0, 0, 0.7);
width: 100%;
height: 200px;
padding: 10px;
bottom: 0%;
position: fixed;
text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.b {
margin-top: 20px;
	text-align: center;
}

</style>

<body>
<main>

<div class=jumbo >
	<video id="vid" autoplay muted loop>
	    <source src="/themes/core-beta/static/img/blue.mp4" type="video/mp4" />
	</video>
</div>

<div class="banner" >
  Re-joignez les Super-Admin(s) ... <code>#linuxmeetup</code> <code>#quebec</code> <code>#20ans</code><br>
	<div class=b>
		<a class="button" href="/challenges">  Connectez-vous </a>
	</div>
</div>

<script>
document.getElementById("vid").play();
</script>
</main>
</body>
