<div class="row">
          <div class="col-md-12"> <h3><i class="award-icon award-flag"></i>
Drop Flags</h3> </div>

{% for award in awards %}
<div class="col-md-4 ">
<div class="card
	    {% if award.value<0 %}text-danger {% else %} text-success{%endif%}
	">
  <div class="card-body bg-light">
	  {% if  award.icon %} <i class="award-icon award-{{ award.icon }} fa-2x">{% else %}<i class="award-icon award-code fa-2x"> {% endif %}</i>
	  {{ award.name }}<br> <span style='font-size: 0.8em'>{{ award.description}}|{{ award.value}}</span>
	</div>
</div>
	  </div>
	 {% endfor %}
        </div>
