      <div class="row">
        <div class="col-md-12">
                <h3><i class='fas fa-trophy'></i> Billets fermés</h3>
          <table class="table table-striped">
            <thead>
            <tr>
              <td><b>Billet</b></td>
              <td class="d-none d-md-block d-lg-block"><b>Espace</b></td>
              <td><b>Valeur</b></td>
              <td><b>Time</b></td>
            </tr>
            </thead>
            <tbody>
            {% for solve in solves %}
              <tr>
                <td>
                  <a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}-{{ solve.challenge.id }}">
                    {{ solve.challenge.name }}
                  </a>
                </td>
                <td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
                <td>{{ solve.challenge.value }}</td>
                <td class="solve-time">
                  <span data-time="{{ solve.date | isoformat }}"></span>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
